.LessonWrapper{
  overflow-y: scroll;
  padding: 0px 100px;
  background-image: url('../../backgrounds/git.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 900px;
  width: 100%;
  height: 100vh;
  will-change: background-image;
  transition: 1s;
}

.backgroundGit{
  background-image: url('../../backgrounds/git.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
  
}
.backgroundAnimations {
  background-image: url('../../backgrounds/css.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
  
}
.backgroundReact{
  background-image: url('../../backgrounds/reactjs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
  
}

@media screen and (max-width:1024px){
.LessonWrapper{
  padding: 0px 30px;
}
}
@media screen and (max-width:868px){
.LessonWrapper{
  padding: 0px 20px;
  font-size: 13px;
}
}
@media screen and (max-width:480px){
.LessonWrapper{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}


}