.LessonContent{
display: flex;

}

.number{
  font-weight: 100;
  margin: 0;
  padding: 0 10px 0 0;
  
}
.content{
  font-weight: 400;
  margin: 0 0 0 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 300;
}

.code{
  /* background: rgba(197, 193, 193, 0.4); */
  font-size: 600;
  font-style: italic;
}

@media screen and (max-width:868px){
  .content{
    margin: 0 0 0 10px;
  }
  .number{
    padding: 0 5px 0 0;
  }

}