.Lesson{
  margin-bottom: 2em;
  background: white;
  transition: 0.5s;
  
  
}
.Lesson:hover{
  box-shadow: 5px 5px rgba(2, 2, 2, 0.3);
}
.LessonTitle{
  border-left: solid 2px rgba(2, 2, 2, 0.3);
  border-bottom: solid 2px rgba(2, 2, 2, 0.3);
  margin-top: 20px;
  color:rgb(63, 67, 71);
  transition: 0.5s;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}

.LessonTitle:hover{
  box-shadow: 0 0 10px 0 rgba(94, 194, 252, 0.5);
  
}

.LessonTitle h2{
  padding-left: 2em;
  padding-top: 0.8em;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 300;

}

.visible{
  display: block;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-top: 0.8em;
  padding-right: 4em;
  box-shadow: 0 0 5px 3px rgba(2, 2, 2, 0.089);
  
}
.no-visible{
  display: none;
}
.deslice{
  
}
.deslice-enter{  
  animation: spin .5s; 
  
}
.deslice-enter-active{
  /* animation-duration: .5s; */
}
.deslice-leave{
  display: none;
}
.deslice-leave-active{

}
@keyframes spin{
  0%{
    transform: rotate(30deg)
  }
  15%{
    transform: rotate(60deg)
  }
  /* 30%{
    transform: rotate(100deg)
  }
  50%{
    transform: rotate(1200deg)
  }
  80%{
    transform: rotate(180deg)
  } */
  100%{
    transform: rotate(360deg)
  }
}


.mount{

}
.mount-enter{
  animation: show 0.5s;
  will-change: opacity scale;
}

.mount-enter-active{
  
}

.mount-leave{
  display:none;
}
.mount-leave-active{

}

@keyframes show{
  0%{
    opacity: 0.1;
    /* transform: scale(0.4); */
    
  }
  25%{
    opacity: 0.25;
    /* transform: scale(0.5); */
    
  }
  50%{
    opacity: 0.5;
    /* transform: scale(0.6); */
    
  }
  75%{
    opacity: 0.75;
    /* transform: scale(0.85); */
    
  }
  100%{
    opacity: 1;
    /* transform: scale(1); */
    
  }
}
.drop{

}
.drop-enter{
  animation: droping 0.5s;
  will-change: opacity;
  transform-origin: top;
}

.drop-enter-active{
  
}

.drop-leave{
  display:none;
}
.drop-leave-active{

}

@keyframes droping{
  0%{
    opacity: 0.1;
    /* transform: rotateX(-90deg); */
    
  }
  25%{
    opacity: 0.25;
    /* transform: rotateX(-75deg); */
    
  }
  50%{
    opacity: 0.5;
    /* transform: rotateX(-45deg); */
    
  }
  75%{
    opacity: 0.75;
    /* transform: rotateX(-25deg); */
    
  }
  100%{
    opacity: 1;
    /* transform: rotateX(0deg); */
    
  }
}