.ProfileWrapper{
  width: 100%;
  max-width: 200px;
  height: auto;
  background: white;
  padding: 100px 60px;
}

@media screen and (max-width:768px){
.ProfileWrapper{
  padding: 100px 20px 30px;
}
}
@media screen and (max-width:480px){
.ProfileWrapper{
  padding: 0;
  margin: 0;
  max-width: initial;
}
}