.Profile{
  /* background-image: url('../../backgrounds/profile.png'); */
  position: relative;
  background-size: cover;
  height: 100% ;
  max-height: 500px;
  min-height: 400px;
  /* color: white; */
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.8);
  background: white;
  font-family: 'Titillium Web', sans-serif;
  will-change: scale;
  transition: 1s;
}
.Profile:hover{
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.9);
  transform: scale(1.05);
}
.Profile-img{
  margin-bottom: 10px;
  /* width: 200px;
  height: 200px; */
}
.Profile h4{
  position: absolute;
  top: 100px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.5s;
  will-change: background;
}

.nameGit{
  background: rgba(248, 95, 95, 0.8);
  transition: 0.5s;
}
.nameAnimations{
  background: rgba(79, 252, 185, 0.8);
  transition: 0.5s;
}
.nameReact{
  background: rgba(68, 196, 255, 0.8);
  transition: 0.5s;
}

.icon-name{
  margin: 0 10px 0 5px;
}

.Profile h6{
  margin: 0 0 10px 20px;
  font-size: 13px;
}
.Profile h6:hover{
  border-left:solid 2px rgba(0, 0, 0, 0.8);
}
.certificado-container{
  width: 200px;
  margin: 60px 0 0 0px;
  overflow-y: scroll;
  height: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-width:768px){
  .Profile{
    max-width: 180px;
    max-height: 450px;

  }  
  .Profile-img{
    width: 180px;
    /* height: 150px; */
  }
  .certificado-container{
    width: 180px;
  }
  .container{
    
  }
  .Profile h4{
    top: 80px;
  }
}

@media screen and (max-width:480px){
  .Profile{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    min-height: 190px;
    justify-content: space-evenly;
    border: none;
    box-shadow: 0 0 2px 0 rgba(180, 180, 180, 0.5);
    
    } 
    .Profile:hover{
      transform: scale(1);
      box-shadow: none;
    } 
    .Profile-img{
      display: none;
    }
    
    
    .certificado-container{
    position: initial;
    margin: 0;
    }
    .certificado{
     
    }
    .texts{
      margin: 25px 0 0 0px;
      height: 100px;
    }
    .Profile h4{
      top: 133px;
      left: 0;
    }

}

@media screen and (max-width:320px){
  .Profile{

  }
  .certificado-container{
  

  }

  .certificado{

  }
}