.ProfileWrapper{
  width: 100%;
  max-width: 200px;
  height: auto;
  background: white;
  padding: 100px 60px;
}

@media screen and (max-width:868px){
.ProfileWrapper{
  padding: 60px 20px 30px;
  width: 100%;
  max-width: 120px;
  height: auto;
}
}
@media screen and (max-width:480px){
.ProfileWrapper{
margin-top: 20px;
height: 200px;
max-width: 100vw;
padding: 0;

}
}
/* @media screen and (max-height:530px){
  .ProfileWrapper{
      padding: 20px;
    overflow-y: hidden;
  }
}
@media screen and (max-height:480px){
  .ProfileWrapper{
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }
} */

