.RelatedLayout{
  height: 100vh;
  max-width: 320px;
  width: 100%;
}
@media screen and (max-width:868px){
  .RelatedLayout{
    max-width: 150px;
  }
  }
@media screen and (max-width:480px){
.RelatedLayout{
  max-width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 20px;
}
}