.Related{
  max-width: 320px;
  height: 100vh;
  width: 100%;
  background-image: url('../../backgrounds/related.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-right: solid 1px white; 
  overflow-y: scroll;
}

h1{
  margin: 20px 20px;

}
/* .RelatedH1{
  background: rgba(0, 0, 0, 0.8);
  color:white;
  
} */

.titleGit{
  background-image: url('../../backgrounds/git.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.titleAnimations{
  background-image: url('../../backgrounds/css.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.titleReact{
  background-image: url('../../backgrounds/reactjs.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.Related a {
  display: flex;
  margin: 10px 20px ;
  text-decoration: none;
  color: rgb(82, 82, 82); 
  transition: opacity 1s;
  font-family: 'Titillium Web', sans-serif;
  font-size: 300;
  
}
.Related a:hover{
  color: white;

}

.RelatedAContainer{
  border-bottom: solid 1px rgba(255, 253, 253, 0.5);
  border-top: solid 1px rgba(255, 253, 253, 0.5);
  
}

.RelatedAContainer:hover{
  background: rgba(2, 2, 2, 0.3);
  cursor: pointer;

}

.mount{

}
.mount-enter{
  animation: show 0.5s;
  will-change: opacity scale;
}

.mount-enter-active{
  
}

.mount-leave{
  display:none;
}
.mount-leave-active{

}

@keyframes show{
  0%{
    opacity: 0.1;
    /* transform: scale(0.4); */
    
  }
  25%{
    opacity: 0.25;
    /* transform: scale(0.5); */
    
  }
  50%{
    opacity: 0.5;
    /* transform: scale(0.6); */
    
  }
  75%{
    opacity: 0.75;
    /* transform: scale(0.85); */
    
  }
  100%{
    opacity: 1;
    /* transform: scale(1); */
    
  }
}
@media screen and (max-width:868px){
  .Related{
    max-width: 150px;
    font-size: 12px;
  }
  }
@media screen and (max-width:480px){
  .Related{
    max-width: 100%;
    height: 100px;
    width: 100vw;
    background: url('../../backgrounds/related.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    border-right: solid 1px white; 
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 0.8em;
  }
  .lista span{
    display: flex;
    flex-direction: row;
    height: 110px;
  }
  .RelatedAContainer{
    height: 110px;
    width: 155px;
    border-right: solid 2px white;
  }

}