.Related{
  max-width: 200px;
  min-height: 100%;
  background-image: url('../../backgrounds/related.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-right: solid 1px white; 
}

h1{
  margin: 20px 20px;
}

.Related a {
  display: flex;
  margin: 10px 20px ;
  text-decoration: none;
  color: rgb(82, 82, 82); 
  
}

.RelatedAContainer:hover{
  background: rgba(2, 2, 2, 0.3);
  cursor: pointer;
}